
*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	font-family: Arial;
	font-family: 'Playfair Display';
	background: rgb(15,14,34);
	background: linear-gradient(90deg, rgba(15,14,34,1) 0%, rgba(3,0,0,0.9962359943977591) 11%, rgba(26,61,107,1) 100%);
	color: #f2f2f2;

}

.App {
	display: flex;
  	justify-content: center;
  	text-align: center;
}

.box {
	display: flex;
	flex-flow: column;
}


